:root {
  --primary-blue: #47BAD4;
  --primary-green: #7CD52D;
  --primary-red: #FC255A;
  --primary-orange: #FD732A;
  --primary-purple: #9729D3;
  --primary-yellow: #FED239;
  --primary-pink: #FD28FC;
  --primary-magenta: #FD5F5B;
  --gray-btn: #666666;

  --white: #fff;
  --black: #000;

  --primary-color: var(--primary-blue);
  --text-color: var(--white);
  --background-color: var(--black);
}