.bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    
    overflow: hidden;
    background-color: #090a0f;
    background: radial-gradient(ellipse at center, #191903 0%, #030305 100%);
    // background: url(../../../public/images/bg.jpg) no-repeat center center;
    background-size: 100% 100%;
    filter: drop-shadow(0 0 10px white);

    @function random_range($min, $max) {
        $rand: random();
        $random_range: $min + floor($rand * (($max - $min) + 1));
        @return $random_range;
    }

    @mixin flex ($dir: row, $wrap: wrap, $ai: center, $jc: center, $ac: center){
        display: flex;
        flex-direction: $dir;
        flex-wrap: $wrap;
        align-items: $ai;
        justify-content: $jc;
        align-content: $ac;
        }
        @mixin imagen ($url: '', $size: cover, $posicion: center, $repeat: no-repeat, $parallax: false) {
        @if  $url != '' {
            background-image: url($url);
        }
        background-size: $size;
        background-position: $posicion;
        background-repeat: $repeat;
        @if $parallax == true {
            background-attachment: fixed;
        }
    }

    @keyframes rotate360 {
        from { 
            transform: translate(-50%,-50%) rotate(0deg); 
        }
        to { 
            transform: translate(-50%,-50%) rotate(360deg); 
        }
    }

    .snow {
        $total: 100;
        position: absolute;
        width: 5px;
        height: 5px;
        background: white;
        border-radius: 50%;

        @for $i from 1 through $total {
            $random-x: random(1000000) * 0.0001vw;
            $random-offset: random_range(-100000, 100000) * 0.0001vw;
            $random-x-end: $random-x + $random-offset;
            $random-x-end-yoyo: $random-x + ($random-offset / 2);
            $random-yoyo-time: random_range(30000, 80000) / 100000;
            $random-yoyo-y: $random-yoyo-time * 100vh;
            $random-scale: random(10000) * 0.00009;
            $fall-duration: random_range(10, 30) * 1s;
            $fall-delay: random(30) * -1s;

            &:nth-child(#{$i}) {
            opacity: random(10000) * 0.0001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
            }

            @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
                transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }

            to {
                transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
            }
            }
        }
    }

}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .bg{
       background-size: auto 100%; 
    }
}