@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/_variables.scss";
@import "./styles/_globals.scss";
@import "./styles/_animations.scss";

.gradient-text {
    font-style: italic;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-text.gold {
    background-image: linear-gradient(180deg, #FFEF9F 0%, #C29533 30%, #9D6E13 47%, #9D6E13 56%, #C29533 66%, #FFEF9F 100%);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}